h1,p,body {   
  margin: 0px;
}
/* h1、p、body要素の上下左右余白（margin）を0に設定*/


p,a {
  font-size: 20px;
}
/* p,aのフォントサイズ20pxに設定*/

header {
 padding: 20px;
 background-color: rgb(244, 79, 79);
 text-align: center;
}

h1 {
    color: rgb(255, 255, 255);
}

main {
  padding: 10px;
}

#parent {
  display: flex;
  justify-content: space-between;
}

.contents {
    border: solid 3px rgb(238, 204, 204);
    flex-basis: 25%;
    padding: 10px 15px;
    margin: 20px 0;
    text-align: center;
}

.contents h2 {
  font-size: 25px;
  border-bottom: 3px dotted rgb(236, 122, 122);
  position: relative;
}
/* contents h2に対してのみの設定*/

.contents p:nth-of-type(2)::first-letter {
  font-weight: bold;
  color: rgb(97, 206, 249);
}

.contents img {
  margin: 10px;
  width: 70%;
}
/*画像の幅の設定*/

footer {
  background-color: rgb(244, 79, 79);
  text-align: center;
}
/*フッター（©SAMURAI WEATHER N）の設定*/

footer a {
  color: rgb(255, 255, 255);
}

footer a:visited {
  color: rgb(193, 234, 251);
}

footer a:hover {
  color:rgb(245, 178, 168) ;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 25px;
  }
  #parent {
    display: flex;
    flex-direction: column; /*768px以下なら縦並び設定*/
  }
}
@media screen and (min-width: 769px) {
  #parent {
    display: flex;
    flex-direction: row; /*768px以上なら横並び設定*/
  }  
}